.ChatBoxContainer{
    position: fixed !important;
    left: 68% !important;
    top:15%;
    max-height: 500px !important;
    height: 500px !important;
    width: 350px !important; 
    z-index: 1300;
    background-color: white;
    border-radius: 20px; 
    }



.chatAdminProfilePic{
    height: 50px;
    display: flex;
}

.chatAdminProfilePic > img{
    height: 35px;
    border-radius: 999px;
}

.chatAdminProfilePic > p{
display: inline-block;
margin-left: 30px;
margin-top: 20px;
}

.chatAdminProfilePic > svg{
    transform: rotate(90deg);
    margin-left: 55%;
    margin-top: 20px;
    }

.customerProfile{
    position:absolute;
    left:20px;
    top:20px
}

.chatAdminMessageBox{
    height: 350px;
    border-bottom: 2px solid #c1c1c1;
}

.chatAdminInput{
width: 100%;
height: 50px;
text-align: left;

}

.chatAdminInput > input{
    height: 40px;
    border: none;
    outline: none;
    width:300px;
    text-align: left;
    text-indent: 10px;
   }

.chatAdminInput > input::placeholder{
    font-size: 16px;
    padding-left: 0;
    text-indent: 10px;
    
}

.sendIconChatAdmin{
    position:absolute;
    padding-top: 10px;  
}
.emoji {
    position: absolute;
    bottom: calc(4% + 10px);
    text-align: left;
  }
  

.emoji-icon{
    margin-left: 10px;
}

