.footer{
    width: 95%;
    height: 200px;
    margin-top: 30px;
    margin-left:30px

}

.footer h2{
    text-align: left;

}

.footerDetails{
    width:50%;
    display:flex;
}

.footerProfile{
    width:180px;
    height: 180px;
    padding-top: 20px;

}

.footerProfile img{
    height: 150px;
    border-radius: 999px;
}

.FooterContent{
    padding-top: 30px;
    text-align: left;
}

.FooterContent p{
    margin: 0;
   margin-left: 20px;
}

.FooterContent img{
    display: block;
    height: 70px;
}




@media only screen and (max-width:767px){
    .footer{
        width: 100%;
        margin:auto;
        height: 300px;
    }
    
    .footer h2{
        width: 100%;
        text-align: center;
    
    }
    
    .footerDetails{
        width:100%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .footerProfile{
        width:320px;
        height: 250px;
        padding-top: 20px;
        margin: auto;
    
    }
    
    .footerProfile img{
        height: 230px;
        border-radius: 999px;
    }
    
    .FooterContent{
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .FooterContent img{
        height: 100px;
    }

}