@media only screen and (min-width:768px){
.header{
    width:96%;
    height: 100px;
    background-color: rgb(245,245,245);
    border-radius: 999px;
    margin: auto;
    display: flex;
    position: relative;
    margin-top: 15px;
    font-family:sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header img{
    height: 30px;
}

.navLeft{
    width: 50%;
    height: 100px;
    display: flex;
}

.logo{
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
}


.logo img{
    height: 50px;
}


.dashboard{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 80px;
    
}

.navRight{
    width: 50%;
    height: 100px;
    display: flex;
}

.empManagement{
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 80px;

}

.adminProfile{
    width: 45%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.adminProfile p 
{
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.empManagement p 
{
    margin-left: 20px;
    cursor: pointer;
}

.dashboard p 
{
    margin-left: 20px;
    cursor: pointer;
}

.active{
    background-color: rgb(103,93,239);
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;    
}

}




@media only screen and (max-width:767px){
    .header{
        width:100%;
        background-color: rgb(245,245,245);
        border-radius: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        font-family:sans-serif;
        font-size: 16px;
        font-weight: 400;
        align-items: center;
    }
    
    .dashboard img{
        height: 30px;
    }
    .empManagement img{
        height: 30px;
    }

    .navLeft{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;

    }
    
    
    .logo img{
        height: 50px;
    }
    
    
    .dashboard {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }    
    
    
    .navRight {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    
    .empManagement {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .adminProfile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .adminProfile img{
        height: 30px;
    }
    
    .adminProfile p 
    {
        margin-left: 15px;
        cursor: pointer;
    }
    
    .empManagement p 
    {
        margin-left: 15px;
        cursor: pointer;
    }
    
    .dashboard p 
    {
        margin-left: 15px;
        cursor: pointer;
    }
    
    .active{
        background-color: rgb(103,93,239);
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 999px;    
    }


}