.loginContainer{
    width: 515px;
}



.videoPlay{
position: fixed;
top: 0px;
left: 0px;
width: 100%;
opacity: 1;
}



.loginLogo{
top: 40%;
left: 16%;
width: 353px;
height: 182px;
background: transparent url('../assets/images/Group-265694.png') 0% 0% no-repeat padding-box;
background-size: 250px;
position: absolute;
}

.loginBox{
    width: 350px;
    height: 380px;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    border-radius: 25px;
    left: 56%;
    top:23%;
    backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(27px);    
}


.loginForm{
    width: 250px;
    height: 330px;
    margin: 40px;
}

.signIn{
    text-align: left;
    color: white;
}

.loginLabel{
    display: block;
    text-align: left;
    margin-left: 0;
    margin-top: 20px;
    color: white;
    font-size: 12px;
}


.loginInput{
    display: block;
    height: 40px;
    width: 250px;
    margin-top: 10px;
    margin-left: 0;
    border: none;
    border-radius: 10px;
    background-color: #f7f7f7;
}

input::placeholder{
    font-size: 12px;
    color: #b2b2b2;
}

.forgetPwd p{
    margin-top: 2px;
    text-align: right;
    color: white;
    font-size: 12px;
    cursor: pointer;
}


.signInButton{
    width: 250px;
    height: 40px;
    background-color: #8551ef;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top:35px;
    cursor: pointer;
}


.verificationText{
    font-size: 12px;
    color: white;
    text-align: left;
    line-height: 20px;
}